/* For Story7.html */
h1{
       font-family: 'Adamina';
       font-size:40px;
       text-align: center;
       padding-top: 2%;
       color: black;}

p{
       font-family: 'Adamina';
       font-size: 20px;
       color: black;
       text-align: center;
       margin-top: 2%}

button{font-family: 'Adamina';
       font-size: 15px;
       background-color:transparent;
       color: black;
       padding: 10px 10px;
       text-align: center;
       text-decoration: none;
       border-color:#ecafed;
       margin-top: 1%;}

table{
       font-size: 20px;
       color: black;
       text-align: left
       ;margin-top: 2%;}

th{padding:0 15px;}

td{padding:0 15px;}

/* For Submission.html */
h2{    
       width: fit-content;
       font-size:30px;
       font-family: 'Adamina';
       text-align: center;
       color: black;
       background-image:linear-gradient(to right,#c5d2ed,#f5cece);}

a{color: black;}

a:hover {
       text-decoration: none;
       color: black; }

#buttonyes{
       font-family: 'Adamina';
       font-size: 15px;
       background-color:transparent;
       color: black;
       padding: 10px 10px;
       text-align: center;
       text-decoration: none;
       border-color:#ecafed;
       margin-top: 1%;}
       


