{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!--CSS-->
        <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
        <link rel="stylesheet" href="{%static 'css/Story7.css' %}">
        <title>
            Welcome!
        </title>
    </head>

    <body style="background-image: url('{%static 'img/Story6.jpg'%}'); background-size: 1550px;object-fit: cover;background-repeat: no-repeat;">
        <h1>How are you today?</h1>
        <div align='center'><button onclick="bgchange()">Click Me!</button></div>
        <form method="POST">
            {% csrf_token %}
            <p>Name: <input type="text" name="name"></p>
			<p>Status: <input type="text" name="status"></p>

            <div align='center'><button type="Submit" id="submit">Submit</button></div>
        </form>

        <div align='center'>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
            </tr>
            {% for i in YourStatus %}
                <tr>
                   <td>{{ i.name }}</td>  
                   <td>{{ i.status }}</td> 
                   <td>{{ i.date }}</td> 
                </tr>
            {% endfor %} 
        </table>
        </div>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>           
    
    <script>
    	function bgchange() {
    		document.querySelector("body").style.backgroundImage = "linear-gradient(to right,#f5cece,#c5d2ed)";
    	}
    </script>

</body>
</html>