{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!--CSS-->
        <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
        <link rel="stylesheet" href="{%static 'css/Story7.css' %}">
      
        <title>
          Confirmation
        </title>
  </head>

  <body style="background-image:linear-gradient(to right,#f5cece,#c5d2ed);">
        <h1> Confirm your data <h1> 
        <div align='center'><h2>The data you've entered will be displayed. <br> Continue?</h2></div>
        <form action="/home/submit" method="POST">
          {% csrf_token %}
          <p>Name: {{name}} </p>
          <p>Status: {{status}}</p> 

          <input type="hidden" id="name" name="name" value="{{name}}">
          <input type="hidden" id="status" name="status" value="{{status}}">
          <input type="submit" id= "buttonyes" value="YES!">
        </form>

        <button type="submit" id="buttonno"><a href='/home'>NO!</a></button>
  </body>
</html>
